:root {
	--sidebar-width-show: 150px;
	--sidebar-width-hide: 0px;
	--sidebar-width: var(--sidebar-width-hide);
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: silver;
	margin: 0;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top-bar {
	display: flex;
	justify-content: flex-start;
	position: relative;
	left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));
	
	border-bottom: black 2px solid;
}

.top-bar button {
	border: none;
	border-right: black 1px solid;
	background-color: inherit;
	cursor: pointer;
}

.top-bar h1 {
	margin: 0;
	padding: 10px;
}

.top-bar a {
	text-decoration: none;
	color: black;
}

.sidebar {
	background-color: black;
	list-style-type: none;
	overflow: hidden;
	
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: var(--sidebar-width);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar li {
	height: 80px;
	width: var(--sidebar-width-show);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.sidebar a {
	color: white;
	text-decoration: none;
	
	display: flex;
	justify-content: center;
	padding: 0 1px;
}

.current-page a {
	border-bottom: white 1px solid;
}

.showcase {
	background-color: grey;
	
	width: 100%;
	height: 300px;
}


@media only screen and (max-width: 765px) {
	.sidebar-transition {
		transition: width 1s, left 1s;
	}
}

/**
 * For Desktop
 */
@media only screen and (min-width: 765px) {
	.top-bar {
		justify-content: center;
		position: static;
		width: 100%;
		padding: 60px;
	}
	
	.top-bar button {
		display: none;
	}
	
	.sidebar {
		width: 100%;
		height: inital;
		
		align-items: center;
		flex-direction: row;
		position: static;
		background-color: inherit;
		justify-content: space-around;
	}
	
	.sidebar li {
		border: none;
		
		width: 200px;
		height: 80px;
		align-items: center;
	}
	
	.sidebar a {
		color: black;
		width: inital;
	}
	
	.current-page a {
		border-bottom: black 1px solid;
	}
	
	.showcase {
		height: 500px;
	}
}