:root {
	--sidebar-width-show: 40%;
	--sidebar-width-hide: 0;
	--sidebar-width: var(--sidebar-width-hide);
	
	--header-color: white;
	--header-background: black;
}

.sidebar-transition {
		transition: width 1s, left 1s;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	white-space: nowrap;
}

.top-bar {
	display: flex;
	justify-content: flex-start;
	position: relative;
	left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));

	border-bottom: var(--main-color) 2px solid;
}

.top-bar button {
	border: none;
	border-right: var(--main-color) 1px solid;
	background-color: inherit;
	cursor: pointer;
}

.top-bar button:active {
	background-color: var(--background-accent);
}

.top-bar h1 {
	margin: 0;
}

.top-bar a {
	text-decoration: none;
	color: var(--main-color);
	
	padding: 10px;
}

.sidebar {
	background-color: var(--header-background);
	list-style-type: none;
	overflow: hidden;

	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: var(--sidebar-width);
	padding: 0;
	margin: 0;
	z-index: 1;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar a {
	color: var(--header-color);
	text-decoration: none;

	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	
	display: flex;
	align-items: center;
	padding: 0 1px;
}

.current-page span {
	border-bottom: var(--header-color) 1px solid;
}
	
	
@media only screen and (max-width: 450px) {
	:root {
		--sidebar-width-show: 60%;
	}
}
	
/**
 * For Desktop
 */
@media only screen and (min-width: 720px) {
	.top-bar {
		justify-content: center;
		position: static;
		width: 100%;
		padding: 60px;
	}

	.top-bar button {
		display: none;
	}

	.sidebar {
		width: 100%;
		height: inital;

		align-items: center;
		flex-direction: row;
		position: static;
		background-color: inherit;
		justify-content: space-around;
	}

	.sidebar a {
		color: var(--main-color);

		width: 200px;
		height: 80px;
		align-items: center;
		justify-content: center;
	}

	.link {
		width: inital;
		margin-right: inital;
	}

	.current-page span {
		border-bottom: var(--main-color) 1px solid;
	}
}
