:root {
	--main-color: black;
	--background-color: #6AA5E1;
	--background-accent: #315378;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--main-color);
	background-color: var(--background-color);
	margin: 0;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

#head-display {
	background-color: var(--background-accent);
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#banner {
	background-image: url('../images/artbanner.jpg');
	background-repeat: repeat-x;
	background-size: contain;
	height: inherit;
	width: 48000px;
	animation: slide 400s linear infinite;
	filter: blur(2px);
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-16000px, 0, 0);
	}
}

#head-display a {
	color: var(--main-color);
	background-color: var(--background-color);
	text-decoration: none;
	font-size: 18px;
	border: var(--main-color) 2px solid;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 40%;
	height: 50px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#head-display a:active {
	background-color: var(--background-accent);
}

.body-container {
	width: 100%;
	text-align: center;
}


/**
 * For Desktop
 */
@media only screen and (min-width: 720px) {
	#head-display {
		height: 450px;
	}
	
	#head-display a {
		font-size: 20px;
		
		height: 100px;
		width: 50%;
	}
	
	.body-container {
		position: static;
		width: 100%;
	}
}